.button_disabled {
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #ffffff;
}

.item {
    border: 1px solid green;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.item__image {
    width: 20%;
    float: left;
}

.item__button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}